<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fontawsome/css/fontawesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>


</head>

<body>


    <div class="admin-container container">
        <div class=" row jumbotron">
            <h3 class="container text-justify">GRAPHICAL USER AUTHENTICATION SYSTEM</h3>
            <div class="container row " style="margin-left: 100px;margin-right: 100px;">
                <button class="btn btn-lg btn-primary btn-outline-dark text-white"><a class="text-white" href="/user/register">Register</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-lg btn-success btn-outline-dark text-dark"><a class="text-dark" href="/user/login">Login</a></button>
            </div>
        </div>

    </div>


    <div class="card-footer" style="color: white;">

    </div>


    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/fontawsome/js/fontawesome.min.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>