<body id="body">
    <div id="regcontainer" class="container">

        <div class="container admin-container">
            <div id="alertholder" class="alert alert-danger" style="display: none;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong id="alert">Indicates a dangerous or potentially negative action.</strong>
            </div>
            <div class="row ">
                <div id="imgcontainer" class="col-lg-6 jumbotron">
                    <h3 id="image_header" class="header">
                        Select Four images to set password
                    </h3>
                    <div id="image_container">

                    </div>
                    <span><button id="next" class=" btn btn-primary">Next</button></span>

                </div>
                <div id="logform" class="col-lg-6 jumbotron">
                    <div class="form-group">
                        <form name="loginform">
                            <input type="text" name="email" placeholder="Email" class="form-control">
                            <input type="submit" id="submit" value="login" class="btn btn-primary btn-lg">
                        </form>
                    </div>
                    <div>
                        <a href="/user/passwordreset">Forgot password?</a>
                    </div>
                </div>
                <hr>


            </div>
        </div>
    </div>





</body>