<body>
    <div id="regcontainer" class="container admin-container">

        <div id="alertholder" class=" alert alert-success" style="display: none;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong id="alert">Success!</strong>
        </div>
        <div class="container">
            <div class="row ">
                <div id="imgcontainer" class="col-lg-6 jumbotron">
                    <h3 id="image_header" class="header">
                        Select Four images to set password
                    </h3>
                    <div id="image_container">

                    </div>
                    <span><button id="next" class=" btn btn-primary">Next</button></span>

                </div>
                <div class="col-lg-6 jumbotron">
                    <h3 class="header">Enter your email and cliclk submit to reset password</h3>
                    <form name="resetform">
                        <input type="email" name="email" placeholder="email" class="form-control col-lg-6">
                        <input id="reset" type="submit" value="Reset" name="regsubmit" class="btn btn-lg btn-primary">

                    </form>
                </div>
                <hr>

            </div>
        </div>
    </div>





</body>